@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.3s ease;
}
.bg-opacity-hover::before {
    content: "";
    inset: 0;
    position: absolute;
    background-color: transparent;
    z-index: 10;
    transition: background-color ease 0.3s;
  }
  .bg-opacity-hover:hover::before {
    background-color: #69696938;
  }